@model IEnumerable<Portfolio.Models.PortfolioModel>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	string theProjectUrl2 = " ";
	string theProjectAccolade = " ";
}

<div class="container">
	<div class="row">
		<section id="portfolio_item" class="col-sm-12">
			@foreach (var item in Model)
			{
				theProjectUrl2 = item.ProjectUrl2;
				theProjectAccolade = item.ProjectAccolade;

				<article class="content">
					<h3>
						@Html.DisplayFor(modelItem => item.ProjectName)
					</h3>
					@if (SignInManager.IsSignedIn(User))
					{
						@* If logged in display *@
						<p>
							<a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a><span> | </span>
							<a asp-action="Details" asp-route-id="@item.ProjectId">Details</a><span> | </span>
							<a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
						</p>
					}

					<img src="@Html.DisplayFor(modelItem => item.ProjectImage)" alt="@Html.DisplayFor(modelItem => item.ProjectName)">
					<p>

						@Html.DisplayFor(modelItem => item.ProjectDesc)
						<br>

						@if (theProjectAccolade != null)
						{
							<br />
							<strong> @Html.DisplayFor(modelItem => item.ProjectAccolade) </strong>
							<br>
						} 
						<br />
						<strong>MY ROLE:</strong>
						@Html.DisplayFor(modelItem => item.ProjectRole)
						<br><br>
						<strong>SKILLS/TECH USED:</strong>
						@Html.DisplayFor(modelItem => item.ProjectTech)
						<br>
						@if (theProjectUrl2 == null)
						{
							@if (item.ProjectUrl1 == null)
							{
								//do not display
							}
							else
							{
								<a href="@Html.DisplayFor(modelItem => item.ProjectUrl1)" target="_blank">View Project</a>
							}
						}
						else
						{
							<a href="@Html.DisplayFor(modelItem => item.ProjectUrl1)" target="_blank">View Before</a>

							<a href="@Html.DisplayFor(modelItem => item.ProjectUrl2)" target="_blank">View After</a>
						}
					</p>

				</article>
			}
		</section>
		<div class="pulse-btn" onclick="window.location.href='Home/About'">
			<a href="about.html">More About Jake</a>
			<div class="bg"></div>
		</div>
		@if (SignInManager.IsSignedIn(User))
		{
			@* If logged in display *@
			<p>
				<a asp-action="Create">Create New Portfolio Item</a>
			</p>
		}
	</div>

</div>

